site_name: ezapi-icc-pro
nav:
  - Home: index.md
  - Endpoints:
      - endpoints/index.md
      - Valves: endpoints/valves.md
      - Meters: endpoints/meters.md
      - Virtual Meters: endpoints/virtual_meters.md
      - Programs: endpoints/programs.md
      - Analog Inputs: endpoints/analog_inputs.md
      - Sensors: endpoints/sensors.md
theme:
  name: material
  favicon: https://cdn0.iconfinder.com/data/icons/smart-farm-line-agriculture-technology/512/Irrigation-512.png
  logo: https://cdn0.iconfinder.com/data/icons/smart-farm-line-agriculture-technology/512/Irrigation-512.png
  font:
    text: Roboto
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - header.autohide
    - content.code.copy
    - navigation.top
    - navigation.footer
    - navigation.tabs
    - navigation.indexes
repo_name: ezapi-icc-pro
repo_url: https://github.com/zehengl/ezapi-icc-pro
plugins:
  - search
  - tags
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/zehengl
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/zehengl
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
